.parent {
    display: flex;
    justify-content: flex-start;
    align-items: top;
}

.child {
    display: inline-block;
    padding: 1rem 1rem;
    height: 100%;
    max-width: 50%;
    margin: 1vh;
    color: #9F7019;
    font-size: 5vh;

    @media only screen and (max-device-width: 480px) {
        font-size: 3vh;
    }

    @media only screen and (max-device-width: 280px) {
        font-size: 1vh;
    }
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vh;
    font-size: 7vh;
    padding: 1vh;
    margin: auto;
}

.KnownLanguages {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
}

.Python {
    width: 9.5vw;
    transition: all .2s ease-in-out;
}

.Python:hover {
    scale: 1.05;

    @media only screen and (min-device-width:1000px) {
        scale: 0.85;
    }
}

.five {
    width: 8vw;
    transition: all .2s ease-in-out;
}

.five:hover {
    scale: 1.05;

    @media only screen and (min-device-width:1000px) {
        scale: 0.85;
    }
}

.five2 {
    width: 8.5vw;
    transition: all .2s ease-in-out;
}

.five2:hover {
    scale: 1.05;

    @media only screen and (min-device-width:1000px) {
        scale: 0.85;
    }
}

.Project1 {
    padding-left: 20rem;
}

.ProjectImage {
    width: 10vw;
    padding-top: 4vh;
    transition: all 0.2s ease-in-out;
}

.ProjectImage:hover {
    scale: 1.05;

    @media only screen and (min-device-width:1000px) {
        scale: 1.1;
    }
}

.name {
    font-size: 100%;
    color: #DB7543;

    @media only screen and (max-device-width: 760px) {
        color: #d86126;
        font-size: 7vw;
    }
}

.match {
    background-color: #FCDE9C;
    border: none;
}

.LinkText {
    font-size: 3vh;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

dialog {
    background-color: #ffe6af;
    border-color: #ffd67c;
    aspect-ratio: 1/2;
    animation: fadein .25s ease-in-out;
}

a:link {
    color: #d86126;
}

a:visited {
    color: #b63d00;
}

.PopupButton {
    background-color: #eb9b73;
    border: none;
}

button:hover {
    cursor: pointer;
}

.Python_Title {
    margin-top: 0;
    color: #d6713e
}

.line {
    display: flex;
}

.ProjectLink {
    padding-right: 5%;
}

.ScaleImage {
    @media only screen and (min-device-width:1000px) {
        scale: 0.8;
    }
}