* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-1 : rgba(112, 6, 169, 1);
  --primary-2 : rgba(139, 110, 239, 1);
  --primary-3 : rgba(161, 146, 226, 1);
  --primary-4 : rgba(109, 105, 249, 1);
  --primary-5 : rgb(5, 64, 116);
  --primary-6 : rgb(98, 71, 219);
}

body {
  background-color: black;
}

.codeText {
  font-size: clamp(10px,3vw, 30px);
  
  color: lime;
  font-family: monospace;
}

.hidden {
  display: none;

  color: lime;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
      font-family: monospace;
      font-size: clamp(10px,3vw, 40px);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  
  .main {
    display: grid;

    @media (max-width: 760px) {
      display: flex;
      flex-direction: column;
    }

    grid-template-rows: 100vh 50vh;

    gap: 4vw;

    .centerHorizon {
      display: flex;
      justify-content: center;
    }

    .centerCenter {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .box {
      border: 2px solid lime;
      border-radius: 10px;
      
      width: 30vw;

      @media (max-width: 760px) {
        height: 70vh;
        width: 60vw;
      }
    }

    .aboutMe {
      grid-row: 1;

      a {
        text-decoration: none;
        color: green;

        font-size: clamp(5px,2vw,20px);
      }
    }

    .aboutMe2 {
      grid-row: 1;
    }

    .aboutMe3 {
      grid-row: 2;
    }

    .aboutMe4 {
      grid-row: 2;
    }
  }
}