* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

body {
  background-color: black;
  height: 100vh;
}

.codeText {
  font-size: clamp(10px,3vw, 30px);
  
  color: lime;
  font-family: monospace;
}

html {
  font-size: clamp(5px, 1.2vw, 30px);
}

.hidden {
  display: none;

  font-family: monospace;
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 10vh;

    gap: 5vw;
    
    .title {
      display: flex;
      justify-content: center;
      
      color: lime;
      font-size: 2rem;
    }

    .box {
      width: 80vw;

      padding: 2vw;
      
      border-radius: 5px;
      border: 1px solid lime;

      font-family: monospace;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5vh;

      text-align: center;

      flex-direction: column;

      color: lime;

      transition: all 0.2s ease-in-out;
    }

    .box:hover {
      transform: scale(1.02);
    }

    .intro {
      a {
        font-size: 2rem;
        text-decoration: underline;
      }
    }

    .links {
      a {
        font-size: 2rem;
        color: limegreen;
      }

      h1 {
        font-size: 3rem;
      }
    }

    .arduino {
      .arduinoTitle {
        font-size: 2rem;
      }

      a {
        color: limegreen;
        font-size: 1.5rem;
      }

      li {
        width: 40rem;
      }
    }

    .year1 {
      a {
        color: limegreen;
        font-size: 1.5rem;
      }

      .courseTitle {
        font-size: 1.5rem;
      }

      li {
        width: 40rem;
      }
    }

    .mp3 {
      .mp3Title {
        font-size: 2rem;
      }

      a {
        color: limegreen;
        font-size: 1.5rem;
      }
    }
  }
}