@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.box {
    min-width: 5vh; /* Use vw for consistent width relative to viewport */
    max-width:40vh;
    min-height: 5vh; /* Use vh for consistent height relative to viewport */
    padding: 10px; /* Equal padding for all sides */
    border: 4px solid purple;
    margin: 10px 100px; /* Center the boxes horizontally */
    border-radius: 15px; /* Smooth rounded corners */
    transition: all 0.3s ease;
}

.boxTop {
    min-width: 5vh; /* Use vw for consistent width relative to viewport */
    max-width:40vh;
    min-height: 5vh; /* Use vh for consistent height relative to viewport */
    padding: 10px; /* Equal padding for all sides */
    border: 4px solid purple;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 15px; /* Smooth rounded corners */
    transition: all 0.3s ease;
}

.box2 {
    min-width: 40vh; /* Use vw for consistent width relative to viewport */
    min-height: 5vh; /* Use vh for consistent height relative to viewport */
    padding: 10px; /* Equal padding for all sides */
    border: 4px solid purple;
    margin: 30px 45vh; /* Center the boxes horizontally */
    border-radius: 15px; /* Smooth rounded corners */
    transition: all 0.3s ease;
}


body {
    margin-top: 20px; /* Causes big gap at top of site */
    margin-left: 20px;
    background-image: url("../Website/photos/sl_031420_28950_10.jpg");
}

footer {
    margin-left: 5px;
    position: absolute;
    bottom:3vh;
    font-size: 20px;
    color:white;
}

.middle {
    position: fixed;
}

.box:hover, .box2:hover, .boxTop:hover {
    transform: scale(1.1); /* Increases size by 20% */
}

img.cat {
    max-width: 25%;
    right: -160px;
    top: -6px;
    position: relative;
}

h1 {
    margin-bottom:90px;
    margin-left:20px;
}

a {
    color: rgb(74, 74, 255);
    position : relative;
    text-decoration: underline;
    top: -25px;
    font-size: 30px;
}

a.no-style-link {
    color: blue;       /* Inherit color from parent */     /* Reset position */
    text-decoration: underline; /* Remove underline */
    top: 0;               /* Reset top */
    font-size: 20px;   /* Inherit font size */
}

a.vending {
    color : rgb(74, 74, 255);
    top:auto;
    font-size: 25px; 
}

img.vending {
    max-width: 40px;
    position : relative;
    left:auto;
}

p1 {
    color: white;
}
