body {
    margin: 0;
    background-color: rgb(238, 238, 238);
}

.center {
    display: flex;
    justify-content: center;
}

.Dark {
    background-color: rgb(53, 53, 53);
    padding: 10px;
    margin: 0;
    color: rgb(142, 175, 204);
}

.nothing {
    margin: 0;
}

.LightDark {
    background-color: rgb(119, 119, 119);
}

.parent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.child {
    display: inline-block;
    padding: 1rem 1rem;
    height: 100%;
    max-width: 50%;
}

.lorem {
    font-size: 25px;
    color: rgb(223, 223, 223);
}