html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    background-image: url('../resources/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1;
}

footer {
    padding: .5rem;
    background-color: rgb(24, 24, 24);
    border-top: 2px solid rgb(85, 85, 85);
}

.center {
    display: flex;
    justify-content: center;
}

.TextInputBar {
    border-radius: 50px;
    height: 1vw;
    background-color: rgb(94, 94, 94);
    border: 1px solid rgb(138, 138, 138);
    color: white;
}

.textDiv {
    padding-left: 2vw;
}